@import './../../../styles/colors';
@import './../../../styles/breakpoints';

.aboutNavigation {
  display: none;

  @include sm {
    position: fixed;
    display: block;
    left: 20px;
    top: calc(50% - 94px);
    z-index: 999;
    width: 60px;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    transition: all 0.8s ease-in-out;

    &_visible {
      opacity: 1;
      pointer-events: visible;
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__button {
      padding: 0;
      margin: 0;
      background: transparent;
      border: 0;
      cursor: pointer;
    }
  }
}
