@import './../../../styles/colors';

.htmlTag {
  &.primary {
    color: $color--violet;
  }

  &.secondary {
    color: $color--grey;
  }

  &.single {
    font-weight: 700;
    color: $color--black;
  }
}
