@import './../../styles/colors';
@import './../../styles/breakpoints';
@import './../../styles/keyframes';

.about {
  position: relative;

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    max-width: 600px;
    text-align: center;
    color: $color--white;

    @include sm {
      font-size: 8rem;
    }
  }

  &__subtitle {
    font-size: 2.5rem;
    font-weight: 700;

    @include lg {
      font-size: 4rem;
    }
  }

  &__headline {
    font-size: 1.5rem;
    font-weight: 700;

    @include lg {
      font-size: 2rem;
    }

    + .about__headline {
      margin-top: 20px;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 2rem;

    + .about__text {
      margin-top: 20px;
    }
  }

  &__avatar {
    position: relative;
    margin-bottom: 50px;

    @include md {
      margin-bottom: 100px;

      &::after {
        position: absolute;
        bottom: -110px;
        content: '';
        width: 1px;
        height: 95px;
        background: transparent;
        border-left: 2px dotted $color--black;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding: 60px 0 60px;
  }

  &__tab {
    animation: appearFromLeft 1s;
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;

    li {
      transition: 0.5s all;
      margin-bottom: 30px;
      flex-basis: calc(100%/6);

      + li {
        margin-left: 15px;
      }

      svg {
        width: 60px;
        height: 60px;
        color: $color--grey;
        transition: 0.5s all;
      }

      &:hover {
        svg {
          color: $color--violet;
        }
      }
    }
  }

  &__pallete {
    text-align: center;
  }

  .reversed {
    @include md {
      text-align: right;
      justify-content: flex-end;
    }
  }

  &__skills {
    justify-content: center;

    @include md {
      justify-content: flex-start;
    }
  }

  &__shortest {
    text-align: center;
  }
}
