@import './../../styles/colors';
@import './../../styles/breakpoints';

.about {
  position: relative;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    max-width: 600px;
    text-align: center;
    color: $color--white;

    @include sm {
      font-size: 8rem;
    }
  }

  &__subtitle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__avatar {
    position: relative;
    margin-bottom: 50px;

    @include sm {
      margin-bottom: 100px;

      &::after {
        position: absolute;
        bottom: -110px;
        content: '';
        width: 1px;
        height: 95px;
        background: transparent;
        border-left: 2px dotted $color--black;
      }
    }
  }

  &__resume {
    padding: 60px 0;
  }
}
