@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';

.dragAndDrop {
  &__title {
    padding: 10px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba($color--black, 0.8);
    text-transform: uppercase;
    border: 2px solid $color--black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    svg {
      margin-right: 10px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__column {
    width: 280px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 0 0 $color--grey;
    background: rgba($color--white-pink, 0.2);

    + .dragAndDrop__column {
      margin-left: 15px;
    }
  }

  &__box {
    min-height: 320px;
    padding: 30px 30px 0 30px;
    border: 2px solid rgba($color--black, 0.8);
    border-top: 0;
  }

  &__footer {
    margin-top: 30px;
  }

  &__stack {
    display: flex;
    justify-content: center;

    .dragAndDrop__card {
      margin: 0 15px;
    }
  }

  &__card {
    position: relative;
    box-sizing: border-box;
    width: 220px;
    padding: 20px 30px;
    margin-bottom: 15px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: $color--violet;
    color: $color--white;
    cursor: grab;
    border-top: 20px solid $color--violet-darker;
    border-radius: 5px;
    box-shadow: 4px 4px 0 0 rgba($color--violet, 0.4);

    &.grabbing {
      cursor: grabbing;
    }

    &.primary {
      background: rgba($color--violet, 1);
    }

    &.secondary {
      background: rgba($color--violet, 0.8);
    }

    &.tertiary {
      background: rgba($color--violet, 0.6);
    }
  }
}
