@import './../../../styles/colors';
@import './../../../styles/breakpoints';

.scrollDownButton {
  display: none;

  @include sm {
    position: absolute;
    bottom: 60px;
    display: block;
    transition: 0.6s ease;
  }

  &_hidden {
    transform: scale(0);
  }

  &.primary {
    svg {
      color: $color--white;
    }
  }

  &.dark {
    svg {
      color: $color--white;
    }
  }

  &.light {
    svg {
      color: $color--violet;
    }
  }
}
