@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';

.window {
  margin: 0 auto;
  background: $color--white-darker;
  box-shadow: 4px 4px 0 0 rgba($color--violet, 0.6);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid $color--violet;
  }

  &__heading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    color: $color--violet;

    svg {
      margin-right: 10px;
      color: $color--violet;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
  }

  &__fileTitle {
    margin-left: 5px;
    font-size: 0.8rem;
    font-weight: 700;

    &::before {
      content: '- [';
    }

    &::after {
      content: ']';
    }
  }

  &__actions {
    display: flex;
    box-sizing: border-box;
  }

  &__body {
    position: relative;
    border: 2px solid $color--violet;
    border-top: 0;
    padding: 30px;

    @include md {
      padding: 60px;
    }

    &.slideshow {
      padding: 10px 10px 0;

      @include md {
        padding: 25px 25px 0;
      }
    }

    &.folder {
      padding: 10px;

      @include md {
        padding: 30px 30px 40px;
      }
    }
  }

  &__control {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-color: rgba($color--grey, 0.2);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    transition: 0.5s all;

    &:first-child {
      border-left: 2px solid $color--violet;
    }

    + .window__control {
      border-left: 2px solid $color--violet;
    }

    svg {
      color: $color--violet;
      transition: 0.5s all;
    }

    &:hover {
      svg {
        color: $color--black;
      }
    }
  }

  &__pattern {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    &.wavy {
      opacity: 1;
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='1' stroke='hsla(271, 76%, 53%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    }

    &.cross {
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='hsla(271, 76%, 53%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    }

    &.smiley {
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M11 6a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5'  stroke-width='1' stroke='none' fill='hsla(271, 76%, 53%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")    }
  }

  &__content {
    position: relative;
    z-index: 100;
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 10px 25px;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba($color--black, 0.4);
    background: rgba($color--white-violet, 0.5);
    border-left: 2px solid $color--violet;
    border-right: 2px solid $color--violet;

    li {
      transition: 0.5s all;
      cursor: pointer;

      &::first-letter {
        text-decoration: underline;
      }

      &:hover {
        color: rgba($color--black, 0.6);
      }

      + li {
        margin-left: 10px;
      }
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    bottom: 0;
    background: $color--grey-lighter;
  }

  &__count {
    color: $color--grey-dark;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
