@import './../../../../../styles/colors';
@import './../../../../../styles/vars';
@import './../../../../../styles/breakpoints';

.window_fake_menu {
  &__wrapper {
    display: flex;
    margin: 0;
    padding: $SPACER / 2;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba($color--black, 0.4);
    background: rgba($color--white-violet, 0.5);
    font-family: Pixelify;
  }

  &__item {
    margin: 0 $SPACER / 6;
    transition: 0.5s all;
    font-size: 12px;

    @include mobile {
      font-size: 8px;
    }

    &::first-letter {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
