@import './../../../styles/colors';
@import './../../../styles/breakpoints';

.post {
  position: relative;

  &__snippet {
    display: flex;
    justify-content: center;

    @include md {
      margin: 30px 0;
    }
  }
}
