@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';

.block {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;

  @include sm {
    text-align: right;
  }

  &__wrapper {
    @include sm {
      position: relative;
      width: 50%;
      padding-right: 40px;
    }
  }

  &__icon {
    text-align: center;

    @include sm {
      position: absolute;
      right: -20px;
      top: 5px;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: lowercase;
    margin-bottom: 15px;
    text-align: center;

    @include sm {
      text-align: unset;
    }
  }

  &__content {
    position: relative;

    @include sm {
      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: -40px;
        width: 1px;
        height: calc(100% + 50px);
        background-color: transparent;
        border-left: 2px dotted $color--black;
      }
    }
  }

  &__footer {
    font-size: 2rem;
    font-weight: 600;
  }

  .tags {
    justify-content: flex-end;
  }

  &_reversed {
    @include sm {
      justify-content: flex-end;
      text-align: left;
    }

    .block__wrapper {
      @include sm {
        padding-left: 30px;
      }
    }

    .block__icon {
      @include sm {
        left: -20px;
        right: unset;
      }
    }

    .block__content {
      @include sm {
        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: -30px;
          width: 1px;
          height: calc(100% + 50px);
        }
      }
    }

    .tags {
      justify-content: flex-start;
    }
  }

  &_centered {
    justify-content: flex-start;
    text-align: center;

    .block__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }

    .block__icon {
      position: static;
      margin-bottom: 15px;
    }
  }
}
