@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';

.latestPosts {
  padding: ($spacer * 8) 0;

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color--violet;

    @include lg {
      font-size: 4rem;
    }
  }

  &__footer {
    margin-top: $spacer * 2;
    text-align: center;
  }
}
