@import './../../../../../styles/colors';
@import './../../../../../styles/vars';
@import './../../../../../styles/theme';

.slideshow {
  width: 100%;

  &__wrapper {
    position: relative;
    padding-bottom: 60px;
  }

  &__label {
    color: $color--grey-dark;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
  }

  &__sidebar {
    //border: 2px solid rgba($color--violet, 0.4);
    @include step1(2px, $color--violet);
    margin-right: 15px;
  }

  &__sidebar_heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 10px;

    //border: 1px solid $color--violet;
    @include step1(2px, $color--violet);

    border-bottom: 0;
    margin-right: 15px;
    font-family: Pixelify;
    color: $color--violet;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;

    svg {
      color: $color--violet;
    }
  }

  &__thumbnails {
    padding: $SPACER;
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    border: 1px solid $color--violet;
    box-shadow: 4px 4px 0 0 rgba($color--violet, 0.4);
    transition: 0.5s all;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    + .slideshow__thumbnail {
      margin-top: 20px;
    }

    &.selected {
      outline: 1px solid $color--violet;
      box-shadow: 6px 6px 0 0 rgba($color--violet, 1);
    }

    &_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba($color--violet, 0.4);
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  &__number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 10px;
    background: $color--violet-dark;
    color: $color--white;
    z-index: 100;
    font-family: Pixelify;
  }

  &__preview {
    z-index: 99;
  }

  &__main {
    height: 100%;
    padding: 30px;
    background: $color--grey;
  }

  &__mainSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 0 0 rgba($color--violet, 0.4);
    background: $color--white;
    height: 100%;
  }

  &__mainThumbnail {
    box-shadow: 4px 4px 0 0 rgba($color--violet, 0.4);
  }

  &__footer {
    position: absolute;
    left: -25px;
    right: -25px;
    bottom: 0;
  }
}
