@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 60px 0;

  &__overlay {
    position: fixed;
    top: 5px;
    left: 0;
    width: 90px;
    height: 90px;
    background: rgba($color--white, 0.6);
    backdrop-filter: blur(1px);
  }

  @include md {
    padding: 0;
  }

  &.full {
    @include sm {
      min-height: 100vh;
    }
  }

  &.half {
    @include sm {
      min-height: 50vh;
    }
  }

  &.small {
    @include sm {
      min-height: 25vh;
    }
  }

  &.center {
    align-items: center;
  }

  &.left {
    align-items: flex-start;
  }

  &.grid {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.primary {
    background-color: $color--violet;
  }

  &.secondary {
    background-color: $color--white-violet;
  }

  &.dark {
    background-color: $color--black;
  }

  &.light {
    background-color: $color--white;
  }

  &.violet {
    background-color: $color--violet;
  }

  &.violet-dark {
    background-color: $color--violet-dark;
  }

  &.violet-lighter {
    background-color: $color--violet-lighter;
  }

  &.topography-dark {
    background: url('./../../../../public/assets/patterns/topography-dark.svg');
  }

  &.topography-light {
    background: url('./../../../../public/assets/patterns/topography-light.svg');
  }

  &.motion-lines {
    background: url('./../../../../public/assets/patterns/motion-lines.svg');
  }

  &.arrows {
    background: url('./../../../../public/assets/patterns/arrows.svg');
  }

  &.cross {
    background: url('./../../../../public/assets/patterns/cross.svg');
  }

  &.pencils {
    background: url('./../../../../public/assets/patterns/pencils.svg');
  }
}
