@import './../../../styles/colors';
@import './../../../styles/vars';

.note {
  padding: $SPACER * 2;
  background: rgba($color--white-violet, 0.5);
  border-radius: $BORDER_RADIUS;
  border: 1px solid $color--white-violet;

  &__title {
    font-weight: 600;
    color: $color--violet;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: $color--violet;
    margin-right: 5px;
    margin-bottom: -5px;
  }
}
