@import './../../styles/colors';
@import './../../styles/vars';

.blog {
  font-family: Inter;
  padding: $SPACER 0 $SPACER * 10;
  background-repeat: repeat;
  background-image: url('./../../../public/assets/patterns/cross-white-pink.svg');
  background-size: 40px;
  background-position: -25px -25px;
  background-color: $color--white-violet;
  background-attachment: fixed;

  &__heading {
    margin: $SPACER * 4 0;
  }

  &__title {
    font-size: 4rem;
    color: $color--violet;
    margin-bottom: $SPACER;
  }

  &__subtitle {
    font-size: 2rem;
    color: $color--black;
    margin-bottom: $SPACER / 2;
  }

  &__description {
    font-size: 1.5rem;
    color: $color--black-lighter;
  }
}
