@import './../../../../../../styles/colors';
@import './../../../../../../styles/vars';

.lists {
  &__subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: $color--black;
    margin-bottom: 30px;
  }

  &__menu {
    text-align: center;
    font-size: 1.5rem;
  }

  &__demo {
    padding: $SPACER * 2;
  }
}
