@import './../../../../../../../styles/colors';
@import './../../../../../../../styles/vars';

.contacts {
  margin-top: $SPACER * 2;

  &__title {
    font-size: 20px;
    margin-bottom: $SPACER / 2;
    color: $color--violet;
  }

  &__item {
    display: flex;
    align-items: center;

    margin-bottom: $SPACER / 2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    margin-bottom: $SPACER;
    font-size: 16px;
    line-height: 1.5;
    color: rgba($color--black, 0.8);
  }

  &__link {
    margin-left: $SPACER / 2;
  }
}
