@import './../../../styles/colors';
@import './../../../styles/breakpoints';
@import './../../../styles/vars';
@import './../../../styles/theme';

$PANEL_HEIGHT: 60px;

.control_panel {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba($color--violet, 0.9);
  backdrop-filter: blur(2px);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $PANEL_HEIGHT;
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin: 0;
    border: 0;
    cursor: pointer;
    color: $color--violet;
    height: $PANEL_HEIGHT;
    padding: 0 $SPACER;

    &.HOME {
      width: 90px;
      padding: 0;
      text-align: center;
      background: $color--violet-darker;
      color: $color--white;
      font-family: Pixelify;
      font-size: 18px;
      text-transform: lowercase;
      font-weight: 400;
      line-height: $PANEL_HEIGHT;
      transition: $COMMON_TRANSITION;

      &:hover {
        background-color: $color--violet-dark;
      }

      svg {
        width: 32px;
        height: 32px;

        @include mobile {
          width: 24px;
          height: 24px;
        }
      }

      @include mobile {
        width: 60px;
      }
    }

    &.LANG {
      width: 70px;
      font-family: Pixelify;
      font-size: 20px;
      color: $color--white;
      line-height: $PANEL_HEIGHT;
      transition: $COMMON_TRANSITION;

      &:hover {
        background-color: $color--violet-dark;
      }

      @include mobile {
        font-size: 14px;
        width: 60px;
      }
    }

    &.WI_FI {
      display: inline-flex;
      align-items: center;
      width: 50px;
      padding: 0;

      svg {
        width: 24px;
        height: 24px;
        color: $color--white;
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__control_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: $SPACER / 2;
  }

  &__windows {
    display: flex;
    align-items: center;
    gap: $SPACER / 1.5;
    margin: 0 $SPACER / 1.5;
  }

  &__window {
    &_button {
      display: inline-flex;
      align-items: center;
      width: 100%;
      height: calc($PANEL_HEIGHT - $SPACER);
      margin: 0;
      padding: 0 $SPACER;
      border: 0;
      @include step1(2px, $color--white);
      color: $color--white;
      background: rgba($color--violet-darker, 0.3);
      opacity: 0.6;
      cursor: pointer;
      text-align: left;
      font-size: 20px;
      line-height: 16px;
      font-family: Pixelify;
      transition: $COMMON_TRANSITION;

      &:hover {
        opacity: 0.8;
        background: rgba($color--violet-darker, 0.6);
      }

      svg {
        margin-right: $SPACER / 4;
      }

      &.focused {
        @include step1(2px, $color--white);
        color: $color--white;
        opacity: 1;
        font-weight: 500;
        background: rgba($color--violet-darker, 0.6);

        &:hover {
          opacity: 1;
          background: rgba($color--violet-darker, 0.9);
        }
      }
    }
  }

  &__system_controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color--violet-lighter;
  }

  &__time {
    display: flex;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__notifications {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color--white;
    height: $PANEL_HEIGHT;
    padding: 0 $SPACER;
    width: 70px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
