@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';

.preview {
  margin-bottom: 60px;

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;

    @include sm {
      font-size: 2rem;
    }
  }

  &__category {
    display: none;
  }

  &__date {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $color--grey-darker;
  }

  &__highlight {
    font-size: 1.2rem;
    line-height: 2rem;
    margin: $spacer 0;
  }

  &__link {
    display: inline;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;

    svg {
      margin-left: 10px;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    margin-right: $spacer;
  }

  &__tag {
    border: 2px solid $color--grey-darker;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color--grey-darker;

    + .preview__tag {
      margin-left: 10px;
    }
  }

  &__image {
    margin: $spacer 0 ($spacer * 2);
  }

  &__thumbnail {
    background-position: center;
    background-size: cover;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $spacer;
  }
}
