@import './../../../styles/colors';
@import './../../../styles/vars';

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__tooltip {
    bottom: calc(100% + 15px);
    width: 150px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &::before {
      position: absolute;
      left: calc(50% - 4px);
      bottom: -8px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: $color--violet transparent transparent ;
    }
  }
}
