@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/vars';

.base_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: ($SPACER * 2) 0;
  width: 80%;
  text-align: center;

  &__title {
    width: 100%;
    padding: 20px;
    border: 2px dashed $color--grey;
    font-size: 2rem;
    color: $color--grey;
  }

  &__text {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: 2px dashed $color--grey;
    font-size: 1.2rem;
    color: $color--grey;
  }
}
