$color--white: rgb(255, 255, 255);
$color--white-darker: rgb(245, 245, 245);
$color--white-violet: rgb(230, 230, 250);
$color--white-pink: rgb(240, 248, 255);

$color--black: rgb(0, 0, 0);
$color--black-lighter: rgb(36, 35, 35);

$color--violet: rgb(138, 43, 226);
$color--violet-lighter: rgb(146, 52, 235);
$color--violet-darker: rgb(129, 41, 211);

$color--grey: rgb(221, 221, 221);
$color--grey-darker: rgb(202, 201, 201);
$color--grey-lighter: rgb(236, 236, 236);
$color--grey-dark: rgb(131, 127, 127);
