@import './breakpoints.scss';

body {
  color: $color--black;
  font-family: $font--base;
  font-size: 16px;
  line-height: 1.2;
}

.link {
  color: $color--violet;
  transition: all 0.5s;

  &:hover,
  &:visited {
    color: $color--violet-lighter;
  }

  &.active {
    text-decoration: none;
    color: $color--black-lighter;
  }

  &--light {
    color: $color--white;

    &:hover,
    &:visited {
      color: $color--white-pink;
    }
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &--link {
    display: inline-flex;
  }

  &--circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    @include sm {
      width: 60px;
      height: 60px;
    }
  }

  &--primary {
    background: $color--violet;
  }

  &--dark {
    background: $color--violet-darker;
  }

  &--light {
    background: $color--white;
  }
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 24px;

  @include sm {
    padding: 0 60px;
    max-width: 1240px;
  }
}

.accent {
  color: $color--violet;
}

ul,
.list {
  margin: 0;
  padding: 0;
}

.list {
  &__title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    color: $color--grey-dark;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;

  @include sm {
    margin: 0 -5px;
  }

  &--primary {
    .tag {
      background-color: $color--white;
      color: $color--violet;

      &--with-link {
        background-color: transparent;

        &:hover {
          border-color: transparent;
        }

        .tag__link {
          border-color: $color--white;
          color: $color--white;

          svg {
            color: $color--white;
          }

          &:hover {
            border-color: $color--black;
            color: $color--black;

            svg {
              color: $color--black;
            }
          }
        }
      }
    }
  }

  &--outline-dark {
    .tag {
      background-color: transparent;
      color: $color--black;
      border-color: $color--black;

      &--with-link {
        background-color: transparent;
        border: 0;

        &:hover {
          border-color: transparent;
        }

        .tag__link {
          border-color: $color--black;
          color: $color--black;

          svg {
            color: $color--black;
          }

          &:hover {
            border-color: $color--violet;
            color: $color--violet;

            svg {
              color: $color--violet;
            }
          }
        }
      }
    }
  }
}

.tag {
  padding: 10px 15px;
  margin: 4px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
  text-transform: lowercase;
  border: 2px solid transparent;

  @include sm {
    margin: 10px;
    font-size: 1.5rem;
  }

  &--with-link {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;

    &:hover {
      border-color: $color--black;

      .tag__link,
      svg {
        color: $color--black;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: $color--white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s ease;
    border: 2px solid $color--white;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;

    svg {
      margin: 0 0 -2px 10px;
      color: $color--white;
      transition: 0.5s ease;
    }
  }
}

.frame {
  width: 100%;
  height: 100vh;
  border: 0;
}
