@import './breakpoints';

html {
  scroll-behavior: smooth;
}

body {
  color: $color--black;
  font-family: $font--base;
  font-size: 16px;
  line-height: 1.2;
}

.link {
  position: relative;
  color: $color--violet;
  transition: all 0.5s;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $color--violet;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  &.active {
    text-decoration: none;
    color: $color--black-lighter;
  }
}

@media (hover: hover) and (pointer: fine) {
  .link {
    &:hover {
      &::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &--link {
    display: inline-flex;
  }

  &--circle {
    width: 30px;
    height: 0px;
    border-radius: 50%;

    @include sm {
      width: 60px;
      height: 60px;
    }
  }

  &--primary {
    background: $color--violet;
  }

  &--dark {
    background: $color--violet-darker;
  }

  &--pink {
    background: $color--white-pink;
  }

  &--light {
    background: $color--white;
  }

  &--with-icon {
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    padding-right: 60px;
    background: $color--white;
    color: $color--violet;

    .button__icon {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    &.button--light {
      .button__icon {
        background: $color--white-violet;
      }
    }
  }
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 24px;

  @include sm {
    padding: 0 60px;
    max-width: 1240px;
  }
}

.accented {
  &--primary {
    color: $color--violet;
  }
}

ol,
ul,
.list {
  margin: 0;
  padding: 0;
}

.list {
  &__title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    color: $color--grey-dark;
  }

  &--ordered {
    padding-left: 20px;

    li {
      &::marker {
        font-weight: 600;
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px;

  @include sm {
    margin: 0 -5px;
  }

  &--primary {
    .tag {
      background-color: $color--white;
      color: $color--violet;

      &--with-link {
        background-color: transparent;

        &:hover {
          border-color: transparent;
        }

        .tag__link {
          border-color: $color--white;
          color: $color--white;

          svg {
            color: $color--white;
          }

          &:hover {
            border-color: $color--black;
            color: $color--black;

            svg {
              color: $color--black;
            }
          }
        }
      }
    }
  }

  &--outline-dark {
    .tag {
      background-color: transparent;
      color: $color--black;
      border-color: $color--black;

      &--with-link {
        background-color: transparent;
        border: 0;

        &:hover {
          border-color: transparent;
        }

        .tag__link {
          border-color: $color--black;
          color: $color--black;

          svg {
            color: $color--black;
          }

          &:hover {
            border-color: $color--violet;
            color: $color--violet;

            svg {
              color: $color--violet;
            }
          }
        }
      }
    }
  }
}

.tag {
  padding: 10px 15px;
  margin: 4px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  border: 2px solid transparent;

  @include sm {
    margin: 10px;
    font-size: 1.5rem;
  }

  &--with-link {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;

    &:hover {
      border-color: $color--black;

      .tag__link,
      svg {
        color: $color--black;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: $color--white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s ease;
    border: 2px solid $color--white;
    background: transparent;
    cursor: pointer;

    svg {
      margin: 0 0 -2px 10px;
      color: $color--white;
      transition: 0.5s ease;
    }
  }
}

.frame {
  width: 100%;
  height: 100vh;
  border: 0;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &:hover {
    .tooltip__message {
      opacity: 1;
    }
  }

  &__message {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    min-width: 130px;
  }

  &--primary {
    .tooltip__message {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
      background: $color--violet;
      color: $color--white;
      text-align: center;
    }
  }

  &--right {
    .tooltip__message {
      top: calc(50% - 14px);
      right: -145px;

      &::before {
        position: absolute;
        content: '';
        left: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 7px 0;
        border-color: transparent $color--violet transparent transparent;
      }
    }
  }

  &--left {
    .tooltip__message {
      top: calc(50% - 14px);
      left: -145px;

      &::before {
        position: absolute;
        content: '';
        right: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 7px;
        border-color: transparent transparent transparent $color--violet;
      }
    }
  }

  &--bottom {
    .tooltip__message {
      top: 100%;
      left: calc(50% - 65px);

      &::before {
        position: absolute;
        content: '';
        top: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent $color--violet transparent;
      }
    }
  }

  &--top {
    .tooltip__message {
      bottom: 100%;
      left: calc(50% - 65px);

      &::before {
        position: absolute;
        content: '';
        bottom: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: $color--violet transparent transparent transparent;
      }
    }
  }
}

.loader {
  position: relative;
  width: var(--size);
  height: var(--size);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(var(--size) - 6px);
    height: calc(var(--size) - 6px);
    animation: spin 1s linear infinite;
    content: '';
    margin: auto;
    border-radius: 50%;
    pointer-events: none;
    border: $color--violet 3px solid;
    border-top-color: transparent !important;
  }

  --size: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.project {
  position: relative;
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;

  @include sm {
    height: 50vh;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: rgba($color--white, 0.8);
    opacity: 0;
    transition: 0.5s;
    padding: 30px;
    backdrop-filter: blur(4px);

    @include sm {
      padding: 60px;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color--violet;
    margin-bottom: 15px;

    @include sm {
      font-size: 2rem;
    }
  }

  &__description {
    line-height: 2rem;
    margin-bottom: 15px;
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    border-bottom: 2px solid $color--violet;
    text-decoration: none;
    color: $color--violet;
    transition: 0.5s;

    svg {
      margin-left: 10px;
    }

    &:hover {
      color: $color--black-lighter;
      border-bottom-color: $color--black-lighter;
    }
  }

  &:hover {
    .project__overlay {
      opacity: 1;
    }
  }

  &--dictionary {
    background-image: url(./../../public/assets/projects/previews/dictionary.png);
    background-size: cover;
  }

  &--todo {
    background-image: url(./../../public/assets/projects/previews/todo.png);
    background-size: 106%;
    background-position: right center;

    @include sm {
      background-size: 100%;
      background-position: center center;
    }
  }

  &--tic-tac-toe {
    background-image: url(./../../public/assets/projects/previews/tic-tac-toe.png);
    background-size: cover;
  }

  &--quote-generator {
    background-image: url(./../../public/assets/projects/previews/quote-generator.png);
    background-size: cover;
  }
}

.highlighted {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  font-weight: inherit;

  &.primary {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--violet, 0) 5px,
    );
  }

  &.secondary {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--white-violet, 0) 5px,
    );
  }

  &.ghost {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--grey, 0) 5px,
    );
  }

  &.dark {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--black-lighter, 0) 5px,
    );
  }

  &.light {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--white, 0) 5px,
    );
  }

  &--primary {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--violet-lighter, 15%) 5px,
    );
  }

  &--dark {
    color: $color--white;

    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--black, 15%) 5px,
    );
  }

  &--grey {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--white, 15%) 5px,
    );
  }

  &--lavander {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken($color--white-violet, 15%) 5px,
    );
  }

  &--strikethroughed {
    color: $color--grey-dark;
    text-decoration: line-through;
  }

  &--underlined {
    border-bottom: 2px solid $color--violet;

    &.light {
      border-bottom-color: $color--white;
    }

    &.ghost {
      border-bottom-color: $color--grey;
    }

    &.secondary {
      border-bottom-color: $color--white-violet;
    }

    &.primary {
      border-bottom-color: $color--violet;
    }

    &.dark {
      border-bottom-color: $color--black-lighter;
    }
  }

  &--dotted {
    border-bottom: 2px dotted $color--violet;
  }
}

.strikethroughed {
  text-decoration: line-through;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;

  &.light {
    text-decoration-color: $color--white-violet;
  }

  &.ghost {
    text-decoration-color: $color--grey;
  }

  &.secondary {
    text-decoration-color: $color--white-violet;
  }

  &.primary {
    text-decoration-color: $color--violet;
  }

  &.dark {
    border-bottom-color: $color--black;
  }
}

.underlined {
  border-bottom-width: 4px;

  &.light {
    border-bottom-color: $color--white-violet;
  }

  &.ghost {
    border-bottom-color: $color--grey;
  }

  &.secondary {
    border-bottom-color: $color--white-violet;
  }

  &.primary {
    border-bottom-color: $color--violet;
  }

  &.dark {
    border-bottom-color: $color--black;
  }

  &.solid {
    border-bottom-style: solid;
  }

  &.dotted {
    border-bottom-style: dotted;
  }

  &.wavy {
    text-decoration-style: wavy;
  }
}

.switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color--violet;

  &__item {
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: 20px;
  }

  &__label {
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color--violet;
    cursor: pointer;

    .switcher__input:checked ~ & {
      color: $color--white;
    }
  }

  &::before {
    position: absolute;
    z-index: 0;
    content: '';
    width: 50%;
    height: 100%;
    background: $color--violet;
    transition: 0.1s;
  }

  &__input {
    display: none;
  }

  &.full {
    &::before {
      transform: translate(50%, 0);
    }
  }

  &.short {
    &::before {
      transform: translate(-50%, 0);
    }
  }
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}
