@font-face {
  font-family: Musinka;
  src: url(../../public/fonts/Musinka/Musinka-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Inter;
  src: url(../../public/fonts/Inter/Inter.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Pixelify;
  src: url(../../public/fonts/Pixelify/PixelifySans-Regular_.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
