$font--base: 'Montserrat', Arial, sans-serif;

$grid-spacer: 20px;

$width--sm-min: 576px;
$width--md-min: 768px;
$width--lg-min: 1024px;

$menu-index: 10000;
$menu-toggle-index: 10001;
$progress-scroll-index: 1002;
$sidebar-index: 1003;

$spacer: 15px;
