@import './../../../styles/colors';
@import './../../../styles/vars';

.name_tag {
  min-width: 500px;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: $color--violet-darker;
    border-radius: 20px 20px 0 0;
  }

  &__field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: $color--white;
    text-align: center;
  }

  &__footer {
    height: 20px;
    background-color: $color--violet-darker;
    border-radius: 0 0 20px 20px;
  }

  &__title {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: $color--white;
  }

  &__subtitle {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    color: $color--white;
  }

  &__name {
    position: absolute;
    font-family: $font--marker;
    font-size: 150px;
    top: 10px;
    transform: rotate(-10deg);
  }
}
