@import './../../../../../styles/vars';
@import './../../../../../styles/breakpoints';

.doc_file {
  &__pages {
    padding: $SPACER * 2 $SPACER * 2 0 $SPACER * 2;
    margin-bottom: $SPACER * 2;

    @include mobile {
      padding: $SPACER / 2;
      margin-bottom: $SPACER / 2;
    }
  }
}
