@import './../../styles/colors';
@import './../../styles/breakpoints';

.yayHero {
  position: relative;

  &__wrapper {
    @include sm {
      margin-top: -60px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;

    @include sm {
      font-size: 8rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;

    @include sm {
      font-size: 6rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;

    @include sm {
      font-size: 4rem;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;

    &.smile {
      width: 50px;
      height: 50px;
      margin-right: 40px;

      @include sm {
        width: 100px;
        height: 100px;
      }

      svg {
        color: $color--violet;
        transform: rotate(180deg);
      }
    }

    &.cat {
      color: $color--violet-lighter;
    }

    &.wand {
      margin-left: 30px;
      color: $color--black;
    }
  }
}
