@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';

.topPanel {
  display: none;

  @include md {
    position: absolute;
    display: block;
    top: 100px;
    width: 100%;
    z-index: 1;
    padding: 15px;
    background: rgba($color--violet-dark, 0.2);
    color: $color--grey;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &__actions {
      position: absolute;
      height: 100%;
      top: 0;
      right: 15px;
      display: flex;
      align-items: center;

      svg {
        font-size: 1rem;

        + svg {
          margin-left: 10px;
        }
      }
    }
  }
}
