@import './../../../../styles//colors';
@import './../../../../styles/vars';
@import './../../../../styles/breakpoints';

.folder {
  &__menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color--grey, 0.4);
    padding: $SPACER / 4 $SPACER;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $SPACER;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    transition: 0.5s all;
    color: $color--violet-dark;

    &.active {
      background: transparent;
    }

    &.disabled {
      color: $color--grey;
      cursor: not-allowed;

      svg {
        color: $color--grey;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      color: $color--violet;
      margin-right: $SPACER / 2;
    }
  }

  &__form {
    max-width: none;
    width: 0;
    overflow: hidden;
    transition: 0.5s all;
    background: rgba($color--white-violet, 0.5);

    &.opened {
      max-width: auto;
      width: 300px;
      overflow: visible;
      border-radius: $BORDER_RADIUS;
    }
  }

  &__search_input {
    background: transparent;
    border: 0;
    color: $color--violet;
    height: 40px;
    width: 100%;
    padding: 0 10px;

    &::placeholder {
      color: $color--grey-dark;
      opacity: 1;
      font-size: 14px;
    }

    &:focus {
      outline: 0;
    }
  }

  &__posts {
    margin: 10px -20px 60px;
  }

  &__shortcuts {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    // margin-bottom: $SPACER;
    // margin-right: $SPACER;
    padding: $SPACER;
  }

  &__shortcut {
    margin-bottom: $SPACER;

    &.GRID {
      width: calc(100% / 4);
    }

    &.LIST {
      width: 100%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    bottom: 0;
    background: $color--grey-lighter;

    &_text {
      color: $color--grey-dark;
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__empty_placeholder {
    text-align: center;
    margin: $SPACER * 6 auto;

    svg {
      width: 42px;
      height: 42px;
      color: $color--grey;
      margin-bottom: $SPACER / 2;
    }

    &_title {
      width: 100%;
      color: $color--grey;
      font-size: 18px;
    }
  }
}
