@import './../styles/colors';
@import './../styles/breakpoints';

.custom404 {
  &__title {
    font-size: 2rem;
    color: $color--white;
    font-weight: 700;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    font-size: 10rem;
    color: rgba($color--white, 0.9);
    font-weight: 700;
    cursor: default;

    svg {
      margin: 0 10px;
    }
  }

  &__footer {
    margin-top: $spacer * 2;

    svg {
      margin-right: $spacer;
    }
  }
}
