@import './../styles/colors';
@import './../styles/breakpoints';

.home {
  position: relative;

  &__header {
    margin-top: -60px;
  }

  &__heading {
    font-size: 8rem;
    font-weight: 700;
  }

  &__title {
    font-size: 6rem;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;

    @include sm {
      font-size: 4rem;
    }
  }

  &__scrollDown {
    position: absolute;
    bottom: 60px;
  }

  &__readMore {
    margin: 5px 0 0 10px;
  }
}
