@import './../styles/colors';
@import './../styles/breakpoints';

.home {
  position: relative;

  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - ($SPACER * 4) - 4px);
    position: relative;
    background-repeat: repeat;
    background-image: url('./../../public/assets/patterns/cross-light.svg');
    background-size: 40px;
    background-position: -25px -25px;
    background-color: $color--white-violet;
  }
}
