@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';
@import './../../../styles/theme';

.code {
  @include step1(2px, $color--violet);

  &__wrapper {
    margin: 0 auto;
    background: $color--white-darker;
    //box-shadow: 4px 4px 0 0 rgba($color--violet, 0.4);
    box-shadow: 5px 5px 0 0 $color--violet;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border-top-left-radius: 5px;
    //border-top-right-radius: 5px;
    //border: 2px solid $color--violet;
    border-bottom: 0;
  }

  &__name {
    display: flex;
    align-items: center;
    padding: 0 $SPACER;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    color: $color--violet;

    &.uppercase {
      text-transform: uppercase;
    }
  }

  &__body {
    padding: 0 $SPACER / 2 1px;
    //border: 2px solid $color--violet;
    border-top: 2px solid $color--violet;
    background: $color--white-darker;
  }

  &__highlighter {
    background: $color--white-darker;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  &__control {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-color: rgba($color--grey, 0.2);
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    transition: 0.5s all;

    &:first-child {
      border-left: 2px solid $color--violet;
    }

    + .demo__control {
      border-left: 2px solid $color--violet;
    }

    svg {
      color: $color--violet;
      transition: 0.5s all;
    }

    &:hover {
      svg {
        color: $color--black;
      }
    }
  }

  pre {
    background: transparent !important;
  }
}
