@import './../../../styles/colors';
@import './../../../styles/vars';
@import './../../../styles/breakpoints';

.current_time {
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Pixelify;
  font-size: 22px;
  color: $color--white;
}
