@import './../../../styles/colors';

.header {
  margin-bottom: 50px;

  &__nav {
    ul {
      display: flex;

      li {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
