@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';

.post {
  @include md {
    border-top: 100px solid $color--white;
  }

  &__header {
    padding: 80px 0 30px;

    @include md {
      padding: 60px 0 30px;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color--violet;
    text-align: left;

    @include md {
      font-size: 3rem;
    }
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    opacity: 0.5;
    margin-bottom: 30px;

    @include md {
      margin-bottom: 60;
    }
  }

  &__category {
    display: none;
  }

  &__date {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__highlight {
    margin-top: 30px;
    color: $color--black;
  }

  &__content {
    margin: 60px 0 120px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: $color--violet;

    &.back {
      svg {
        margin-right: 10px;
      }
    }

    &.next {
      text-align: right;

      svg {
        margin-left: 10px;
      }
    }
  }

  &__next {
    display: block;
  }

  h2 {
    margin-bottom: 15px;
    font-weight: 500;
  }

  p {
    line-height: 1.5rem;
    margin: 15px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    margin-bottom: 60px;

    @include md {
      margin-bottom: 120px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    margin-bottom: 30px;
  }
}
