@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';
@import './../../../../styles/vars';

.post {
  @include md {
    border-top: 100px solid $color--white;
  }

  &__header {
    padding: 80px 0 30px;

    @include md {
      padding: 60px 0 30px;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color--violet;
    text-align: left;

    @include md {
      font-size: 3rem;
    }
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    opacity: 0.5;
    margin-bottom: $SPACER * 2;

    @include md {
      margin-bottom: $SPACER * 4;
    }
  }

  &__category {
    display: none;
  }

  &__date {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__highlight {
    margin-top: $SPACER;
    color: $color--black;
  }

  &__content {
    margin: 60px 0 120px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $SPACER * 3;
    display: none;
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: $color--violet;

    &.back {
      svg {
        margin-right: $SPACER / 2;
      }
    }

    &.next {
      text-align: right;

      svg {
        margin-left: $SPACER / 2;
      }
    }
  }

  &__next {
    display: block;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: $SPACER / 2;
    font-weight: 500;
  }

  p {
    line-height: 1.5rem;
    margin: $SPACER 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    margin-bottom: $SPACER * 3;

    @include md {
      margin-bottom: $SPACER * 6;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: $SPACER * 2;
  }

  &__tags {
    display: flex;
    justify-content: flex-start;
  }

  &__tag {
    border: 2px solid $color--violet;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color--violet;

    + .post__tag {
      margin-left: $SPACER / 2;
    }
  }

  &__alert {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-bottom: -3px;
    margin-left: 10px;
  }

  &__icon {
    position: absolute;

    &.wrapper {
      top: 0;
      display: inline-block;
      transform: rotate(-90deg);
    }

    &.icon {
      top: 3px;
      transform: scale(0.35);
      color: $color--white;
    }
  }
}
