@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';

.post {
  @include md {
    border-top: 100px solid $color--violet;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $color--white;
    text-align: center;

    @include md {
      font-size: 5rem;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    margin-bottom: 60px;
  }

  &__highlight {
    margin-top: 30px;
    color: $color--black;
  }

  &__content {
    margin: 60px 0 120px;
  }

  &__footer {
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    border-bottom: 2px solid $color--violet;
    text-decoration: none;
    color: $color--violet;

    svg {
      margin-right: 10px;
    }
  }

  h2 {
    margin-bottom: 15px;
    font-weight: 500;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
