@import './../../../styles/colors';
@import './../../../styles/breakpoints';
@import './../../../styles/keyframes';

.hero {
  position: relative;
  animation: appearFromTop 1s;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $color--violet;
  }
}
