@import './../../../styles/colors';
@import './../../../styles/vars';

.top_scroll_bar {
  position: fixed;
  top: 0;
  z-index: $TOP_SCROLL_BAR_INDEX;
  width: 100%;
  height: 5px;
  background: $color--grey;

  &__tracker {
    height: 100%;
    background-color: $color--violet;
    transition: 0.5s width;
  }
}
