@import './../../../../../../styles/colors.scss';
@import './../../../../../../styles/breakpoints';

.draggable_element {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  margin: 15px 0;
  text-align: center;
  background-color: $color--violet-darker;
  color: $color--white;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 4px 4px 0 0 rgba($color--violet, 0.4);
}
