@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';
@import './../../../../styles/keyframes';

.smileToggle {
  &__overlay {
    position: absolute;
    top: -60px;
    bottom: -60px;
    left: -60px;
    right: -60px;
    background: url('./../../../../../public/assets/patterns/smiles.svg');
    background-repeat: repeat;
    transition: all 0.5s;

    &.blank {
      transform: scale(6);
      opacity: 0;
    }

    &.smiley {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 500px;
    padding: ($spacer * 12) 0;
    text-align: center;
  }

  &__toggle {
    transform: scale(2);
  }

  &__switch {
    background: rgba($color--violet, 0.1);

    &:before {
      background: $color--white;
      mask-image: url('./../../../../../public/assets/blog/pure-css-toggle-switch/smile.svg');
    }

    .toggle:hover &:before {
      box-shadow: none;
    }
  }


  &__label {
    margin-left: 0;
    margin-right: $spacer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color--violet;
  }

  &__checkbox {
    &:checked ~ {
      .smileToggle__switch {

        &:before {
          left: 50%;
          background: $color--white;
        }
      }
    }
  }
}
