@import './../../../styles/colors';
@import './../../../styles/breakpoints';

.post {
  position: relative;

  &__details {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }

  &__example {
    padding: 10px 0;
    margin-bottom: 30px;
    color: $color--grey-dark;
    line-height: 2rem;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__snippet {
    display: flex;
    justify-content: center;

    @include md {
      margin: 30px 0;
    }
  }

  &__code {
    margin-bottom: -15px;
  }
}
