@import './../../../styles/colors';
@import './../../../styles/breakpoints';

.post {
  position: relative;

  &__details {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }

  &__example {
    padding: 10px 0;
    color: $color--violet;
    margin-bottom: 30px;
  }

  &__titleTooltip {
    font-weight: 500;
    border-bottom: 4px dotted $color--white;
  }

  &__titleTooltipMessage {
    position: absolute;
    display: flex;
    align-items: center;
    right: -110px;
    top: calc(50% - 15px);
    padding: 10px 20px;
    min-width: 50px;
    background-color: $color--white;
    color: $color--violet;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 4px;

    &::before {
      position: absolute;
      content: '';
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 10px 8px 0;
      border-color: transparent $color--white transparent transparent;
    }
  }

  &__highlighter {
    margin-bottom: 20px;
  }

  &__code {
    margin-bottom: -15px;
  }

  &__fileName {
    color: $color--grey-dark;
    font-size: 0.8rem;
  }

  &__directions {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    div {
      flex-basis: 25%;
      text-align: center;
    }
  }
}
