@import './../../styles/colors';
@import './../../styles/breakpoints';

.projects {
  position: relative;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    max-width: 600px;
    text-align: center;
    color: $color--violet;

    @include sm {
      font-size: 8rem;
    }
  }

  &__subtitle {
    font-size: 2.5rem;
    color: $color--white;
    font-weight: 700;

    @include lg {
      max-width: 300px;
      font-size: 4rem;
    }
  }

  &__list {
    justify-content: flex-start;

    @include lg {
      justify-content: flex-end;
    }
  }

  &__shortcut {
    position: absolute;

    &.quote-generator {
      top: 10%;
      left: 10%;
    }

    &.planner-18-minutes {
      top: 30%;
      right: 10%;
    }

    &.todo {
      top: 80%;
      right: 50%;
    }

    &.task-manager {
      top: 80%;
      left: 30%;
    }

    &.tic-tac-toe {
      top: 50%;
      right: 20%;
    }

    &.commercial {
      top: 40%;
      left: 20%;
    }

    &.dictionary {
      top: 35%;
      left: 50%;
    }
  }
}
