@import './../../../styles/colors';
@import './../../../styles/breakpoints';

$width: 24px;
$gap: 4px;

.post {
  position: relative;

  &__snippet {
    display: flex;
    justify-content: center;

    @include md {
      margin: 30px 0;
    }
  }

  &__toggleSwitchWithoutBall {
    display: inline-block;
    background: $color--grey;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }

  &__toggleSwitchWithBefore {
    position: relative;
    display: inline-block;
    background: $color--grey;
    width: $width * 2 + ($gap * 2);
    height: $width + ($gap * 2);
    border-radius: $width + ($gap * 2);
    transition: background 0.25s;

    &:before {
      position: absolute;
      top: $gap;
      left: $gap;
      width: $width;
      height: $width;
      content: '';
      background: $color--white;
      border-radius: 50%;
      transition: left 0.25s;
    }
  }

  &__dimensions {
    align-items: flex-end;
  }

  &__demo {
    text-align: center;
  }
}
