@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';

.chat {
  max-width: 450px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacer;
    background: rgba($color--white-violet, 0.6);

    svg {
      width: 30px;
      height: 30px;
      color: $color--violet;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color--violet;
  }

  &__wrapper {
    padding: 0 $spacer * 2;
  }

  &__row {
    display: flex;

    + .chat__row {
      margin-top: $spacer;
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    &.note {
      margin-top: 0;
    }
  }

  &__message {
    position: relative;
    display: inline-block;
    min-width: 50px;
    padding: $spacer;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;

    &.left {
      background-color: rgba($color--grey, 0.6);
      color: $color--black;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: rgba($color--grey, 0.6);
        border-left: 0;
        border-top: 0;
        margin-top: -5px;
        margin-left: -10px;
      }
    }

    &.right {
      background-color: $color--violet;
      color: $color--white;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-left-color: $color--violet;
        border-right: 0;
        border-top: 0;
        margin-top: -5px;
        margin-right: -10px;
      }
    }

    &.emoji {
      font-size: 3rem;
      padding: 0;
    }
  }

  &__note {
    margin-top: 5px;
    color: $color--grey;
    font-size: 0.9rem;
  }

  &__footer {
    margin-top: $spacer;
    color: $color--grey-darker;
    font-style: italic;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $color--grey-darker;
    border-radius: 5px;
    margin: $spacer;
    padding: $spacer;

    svg {
      color: $color--grey;
      width: 20px;
      height: 20px;
    }
  }

  &__placeholder {
    color: $color--grey-dark;
    font-size: 0.9rem;
  }

  &__date {
    color: $color--grey;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: $spacer 0;
  }
}
