@import './../../../styles/colors';
@import './../../../styles/breakpoints';
@import './../../../styles/keyframes';

.menu {
  position: fixed;
  top: 0;
  z-index: $menu-index;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 100%;
  margin: 0;
  transition: 0.5s all;

  &.opened {
    width: 100%;
    background: rgba($color--violet, 0.8);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px 0 rgba($color--black, 0.1);
  }

  &__nav {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s all;
    pointer-events: none;
    width: 100%;
    height: 100%;

    &.opened {
      opacity: 1;
      pointer-events: unset;
    }
  }

  &__pointer {
    padding-right: $spacer;
    font-size: 2rem;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    svg {
      color: $color--white;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    margin: $spacer * 8 auto 0;

    @include sm {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      margin: 0 auto;
    }

    li {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      width: fit-content;
      margin-bottom: $spacer;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .menu__button {
          background: $color--grey-lighter;
          color: $color--violet;
        }
      }
    }
  }

  &__button {
    padding: $spacer / 2;
    border: 0;
    background: transparent;
    color: $color--white;
    font-size: 2rem;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 0.25rem;
    transition: 0.5s all;

    &.active {
      background: $color--white;
      color: $color--violet;
    }
  }

  &__link {
    color: $color--white !important;
    text-decoration: none;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    text-transform: uppercase;

    @include md {
      font-size: 0.8rem;
    }

    &:hover,
    &:focus {
      color: $color--white-darker;
      transition: 0.5s ease;
    }

    &.active {
      color: $color--grey;
    }
  }

  &__footer {
    display: none;

    @include sm {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: $spacer;
      background: rgba($color--violet-dark, 0.6);
    }
  }

  &__hotkey {
    display: flex;
    align-items: center;
    justify-content: start;
    text-transform: uppercase;
    color: $color--white;
    font-size: 0.8rem;
  }

  &__key {
    display: inline;
    margin-right: $spacer / 2;
    padding: 5px;
    background: $color--grey-lighter;
    color: $color--violet;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__toggle {
    position: absolute;
    z-index: $menu-toggle-index;
    right: $spacer;
    top: $spacer * 2;
    background: transparent;
    width: var(--height-mobile);
    height: var(--height-mobile);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;

    @include md {
      width: var(--height-desktop);
      height: var(--height-desktop);
    }
  }

  &__bar {
    position: absolute;
    left: 0;
    height: 8px;
    width: 100%;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    border-radius: 10px;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 36px;
    }
  }

  &__toggleIcon {
    position: relative;
    display: block;
    width: 60px;
    height: 45px;
    transform: rotate(0deg) scale(0.5);
    transition: 0.25s ease-in-out;
    cursor: pointer;

    &.violet {
      .menu__bar {
        background: $color--violet;
      }
    }

    &.white {
      .menu__bar {
        background: $color--white;
      }
    }

    &.black {
      .menu__bar {
        background: $color--black;
      }
    }

    &.opened {
      .menu__bar {
        background: $color--white;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__sidebar {
    display: none;

    @include md {
      position: absolute;
      z-index: 1000;
      bottom: 0;
      transition: 1s ease-in all;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__action {
    &.back {
      display: block;
      width: 50px;
      height: 50px;
      background: transparent;
      padding: 0;
      margin: 0 0 ($spacer * 2) 0;
      border: 0;
      cursor: pointer;
      transition: 0.5s all;
    }

    &.up {
      display: none;

      @include md {
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        padding: 0;
        margin: 0 0 ($spacer * 2) 0;
        border: 0;
        cursor: pointer;
        opacity: 0;
        transform: scale(0);
        transition: 0.5s all;
      }

      &.visible {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__icon {
    transition: 0.25s ease-in-out;

    &.violet {
      color: $color--violet;
    }

    &.white {
      color: $color--white;
    }

    &.black {
      color: $color--black;
    }
  }
}
