@import './../../../styles/colors';
@import './../../../styles/breakpoints';
@import './../../../styles/keyframes';

.menu {
  position: fixed;
  top: 0;
  z-index: $menu-index;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 100%;
  margin: 0;
  transition: 0.5s all;

  &.opened {
    width: 100%;
    background: rgba($color--violet, 0.9);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px 0 rgba($color--black, 0.1);
  }

  &__nav {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s all;
    pointer-events: none;
    width: 100%;
    height: 100%;

    &.opened {
      opacity: 1;
      pointer-events: unset;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40% $spacer;
    text-align: right;

    @include sm {
      max-width: 1240px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      padding: $spacer * 2;
    }

    li {
      flex-basis: 50%;

      @include sm {
        position: absolute;

        &:first-child {
          top: 20%;
          left: 20%;
        }

        &:nth-child(2) {
          top: 50%;
          left: 70%
        }

        &:last-child {
          top: 60%;
          right: 40%;
        }
      }
    }
  }

  &__link {
    color: $color--white !important;
    text-decoration: none;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    text-transform: uppercase;

    @include md {
      font-size: 0.8rem;
    }

    &:hover,
    &:focus {
      color: $color--white-darker;
      transition: 0.5s ease;
    }

    &.active {
      color: $color--grey;
    }
  }

  &__toggle {
    position: absolute;
    z-index: $menu-toggle-index;
    right: $spacer;
    top: $spacer * 2;
    background: transparent;
    width: var(--height-mobile);
    height: var(--height-mobile);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;

    @include md {
      width: var(--height-desktop);
      height: var(--height-desktop);
    }
  }

  &__bar {
    position: absolute;
    left: 0;
    height: 8px;
    width: 100%;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    border-radius: 10px;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 36px;
    }
  }

  &__toggleIcon {
    position: relative;
    display: block;
    width: 60px;
    height: 45px;
    transform: rotate(0deg) scale(0.5);
    transition: 0.25s ease-in-out;
    cursor: pointer;

    &.violet {
      .menu__bar {
        background: $color--violet;
      }
    }

    &.white {
      .menu__bar {
        background: $color--white;
      }
    }

    &.black {
      .menu__bar {
        background: $color--black;
      }
    }

    &.opened {
      .menu__bar {
        background: $color--white;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__sidebar {
    display: none;

    @include md {
      position: absolute;
      z-index: 1000;
      bottom: 0;
      transition: 1s ease-in all;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__action {
    &.back {
      display: block;
      width: 50px;
      height: 50px;
      background: transparent;
      padding: 0;
      margin: 0 0 ($spacer * 2) 0;
      border: 0;
      cursor: pointer;
      transition: 0.5s all;
    }

    &.up {
      display: none;

      @include md {
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        padding: 0;
        margin: 0 0 ($spacer * 2) 0;
        border: 0;
        cursor: pointer;
        opacity: 0;
        transform: scale(0);
        transition: 0.5s all;
      }

      &.visible {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__icon {
    transition: 0.25s ease-in-out;

    &.violet {
      color: $color--violet;
    }

    &.white {
      color: $color--white;
    }

    &.black {
      color: $color--black;
    }
  }

  &__shortcut {
    width: 100px;
    padding: 5px;
    margin: 0 auto;
    border: 1px dashed transparent;
    transition: 0.5s all;

    &:hover {
      border: 1px dashed $color--grey;
    }
  }
}
/*
.menu {
  position: fixed;
  top: 0;
  z-index: $menu-index;
  width: 100%;

  @include md {
    height: 100px;
    background: rgba($color--white-darker, 0.8);
    backdrop-filter: blur(10px);
  }

  &__toggle {
    position: fixed;
    z-index: $menu-toggle-index;
    top: 0;
    left: 0;
    background: $color--violet-dark;
    width: var(--height-mobile);
    height: var(--height-mobile);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;

    &.opened {
      background: transparent;

      @include md {
        background: $color--violet-dark;
      }
    }

    @include md {
      width: var(--height-desktop);
      height: var(--height-desktop);
    }
  }

  &__nav {
    max-width: 300px;
    height: 100%;
    opacity: 0;
    transition: 2s all;
    pointer-events: none;
    transform: translate(0, -100px);
    padding: 80px 60px;
    background: rgba($color--white-darker, 0.8);
    backdrop-filter: blur(10px);
    margin-top: -300px;

    @include md {
      display: flex;
      align-items: center;
      max-width: 100%;
      height: 100%;
      margin-left: 150px;
      padding: 0;
      background: transparent;
      backdrop-filter: none;
      margin-top: 0;
      transition: 1s all;
    }

    &.opened {
      opacity: 1;
      transform: none;
      pointer-events: unset;
      margin-top: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    li {
      margin-right: 25px;
      margin-bottom: 25px;

      @include md {
        margin-bottom: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    color: $color--grey-dark;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;

    @include md {
      font-size: 0.8rem;
    }

    &:hover,
    &:focus {
      color: $color--violet;
      transition: 0.5s ease;
    }

    &.active {
      color: $color--black;
    }
  }

  &__sidebar {
    display: none;

    @include md {
      position: fixed;
      z-index: 1000;
      left: 0;
      top: var(--height-desktop);
      width: var(--height-desktop);
      height: calc(100vh - var(--height-desktop));
      transition: 1s ease-in all;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: $color--violet-darker;
    }
  }

  &__upButton {
    display: none;

    @include md {
      display: block;
      width: 50px;
      height: 50px;
      background: transparent;
      padding: 0;
      margin: 0 0 30px 0;
      border: 0;
      cursor: pointer;
      opacity: 0;
      transform: scale(0);
      transition: 0.5s all;
    }

    &.visible {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__backButton {
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    padding: 0;
    margin: 0 0 30px 0;
    border: 0;
    cursor: pointer;
    transition: 0.5s all;
  }

  &__bar {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background: $color--white;

    @include md {
      background: $color--white;
    }

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 36px;
    }
  }

  &__icon {
    position: relative;
    display: block;
    width: 60px;
    height: 45px;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &.opened {
      .menu__bar {
        background: $color--violet;

        @include md {
          background: $color--white;
        }

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  --height-mobile: 60px;
  --height-desktop: 100px;
}
*/