@import './../../../styles/colors';
@import './../../../styles/breakpoints';

.footer {
  padding: ($SPACER * 2) 0;
  background-color: $color--white;

  @include md {
    padding: ($SPACER * 3) 0;
  }

  &__inner {
    @include md {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }

  &__section {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include md {
      margin-bottom: 0;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $color--grey;
  }
}
