@import './../../../../styles/colors';
@import './../../../../styles/breakpoints';
@import './../../.../../../../styles/keyframes';

.hero {
  position: relative;

  &__overlay {
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }

  &__wrapper {
    @include sm {
      margin-top: -60px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;

    @include sm {
      font-size: 8rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;

    @include sm {
      font-size: 6rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;

    @include sm {
      font-size: 4rem;
    }
  }

  &__icon {
    color: $color--violet;
    margin-right: $spacer;
  }

  &__window {
    position: absolute;

    &.image {
      width: 400px;
      left: 100px;
      top: 100px;
    }

    &.game {
      width: 500px;
      height: 500px;
      top: 500px;
      left: 500px;
    }
  }

  &__shortcut {
    display: none;

    @include lg {
      position: absolute;
      display: block;

      /*
      &.blog {
        top: 30%;
        right: 10%;
      }

      &.about {
        top: 10%;
        right: 40%;
      }

      &.projects {
        bottom: 10%;
        left: 30%;
      }

      &.image {
        left: 5%;
        top: 15%;
      }

      &.tic-tac-toe {
        bottom: 16%;
        right: 10%;
      }
      */
    }
  }
}
