@import './../../../styles/colors';
@import './../../../styles/keyframes';
@import './../../../styles/breakpoints';

.thanks {
  margin: ($spacer * 2) 0 ($spacer * 6);
  text-align: center;

  &__heart {
    display: block;
    margin-bottom: $spacer;

    svg {
      width: $spacer * 2;
      height: $spacer * 2;
      color: $color--violet;
      animation: beat 1s infinite;
    }
  }
}
